* {
    font-family: Arial;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
}

h3 {
    font-size: 14pt;
    font-weight: bold;
}

.top {
    background-color: #dddddd;
    padding: 5px;
}

.top-title {
    /* background-color: blue; */
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

.top-notice {
    width: 150px;
    /* background-color: green; */
    text-align: center;
}

.top-logo {
    width: 50px;
    /* background-color: yellow; */
    text-align: center;
}

.signature {
    font-weight: bold;
    font-style: italic;
}

.info-table {
    color: black;
    background-color: #dddddd;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
}

.info-table thead {
    background-color: #999999;
}

.info-name {
    font-size: 12pt;
    font-weight: bold;
}

.info-value {
    font-size: 12pt;
    font-weight: normal;
}

.package {
    background-color: #faefba;
}

.item {
    background-color: #cecece;
}

.unknown-internal, .java-package-internal, .java-class-internal,
    .java-enum-internal, .java-interface-internal,
    .java-classfile-internal {
    margin-left: 5px;
    color: black;
}

.unknown-external, .java-package-external {
    margin-left: 5px;
    color: #777777;
}

.java-package-unknown, .java-class-unknown {
    margin-left: 5px;
    color: #ff7777;
}

.index-table {
    color: black;
    background-color: #dddddd;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
}

.index-table thead {
    background-color: #999999;
}

.count {
    text-align: right;
}

.position {
    text-align: left;
}

.deps-table {
    color: black;
    background-color: #ebc8c8;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
}

.deps-table thead {
    background-color: #e76b6b;
}

.usage-table {
    color: black;
    background-color: #dae0ff;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
}

.usage-table thead {
    background-color: #7e92fe;
}

.target {
    margin-left: 5px;
    font-size: 12pt;
    font-weight: normal;
}

.gv-image {
    display: inline-block;
    margin: 20px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    color: black;
}